:root {
  --color-paragraf: #5f564d;
}
* {
  box-sizing: border-box;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  background: rgba(243, 229, 215, 1);
  padding: 128px 352px;
}
main {
  margin: 0 auto;
  width: 736px;
  background-color: #fff;
  padding: 40px;
  border-radius: 24px;
}
h1,
h3,
p,
ul,
ol {
  margin: 0;
}
.flx {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
img {
  max-width: 656px;
  min-height: 300px;
  border-radius: 12px;
  margin-bottom: 40px;
}
hgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
h1 {
  font-size: 40px;
  line-height: 100%;
  color: #312e2c;
}
hgroup p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-paragraf);
}
section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  background: #fff7fb;
  border-radius: 12px;
}
section:nth-child(2) h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #7a284e;
}
section:nth-child(2) ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  padding-left: 24px;
}
section:nth-child(2) li {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5f564d;
}
section:nth-child(2) li::marker {
  width: 4px;
  height: 4px;
  color: #7a284e;
}
span {
  color: #5f564d;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
h3 {
  font-size: 28px;
  line-height: 100%;
  color: #854632;
}
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
section:nth-child(3) ul {
  padding-left: 24px;
}
section:nth-child(3) li {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-paragraf);
  padding-left: 16px;
  padding-bottom: 8px;
}
section:nth-child(3) li::marker {
  width: 4px;
  height: 4px;
  color: #854632;
}
hr {
  width: 656px;
  height: 0px;
  margin: 0;
  border: 1px solid #e3ddd7;
}
section:nth-child(5) ol {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-paragraf);
  padding-left: 24px;
}
section:nth-child(5) li {
  padding-bottom: 8px;
  padding-left: 16px;
}
section:nth-child(5) li::marker {
  margin: 0;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #854632;
  padding-left: 8px;
}
div.proc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 16px;
}
section:nth-child(7) div p {
  width: 288px;
  height: 24px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-paragraf);
}
section:nth-child(7) p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-paragraf);
}
.proc p:nth-child(2) {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #854632;
}
section:nth-child(7) hr {
  margin-block: 6px;
}
